body {
    background: linear-gradient(135deg,
            #f1f9f8,
            #e4f2f3);
    min-height: 100vh;
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}