.calendar-container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.fc {
    font-family: inherit;
}

.fc-toolbar-title {
    color: #5a4035;
}

.fc-button {
    background-color: #c9deda !important;
    border-color: #c9deda !important;
    color: #5a4035 !important;
}

.fc-button:hover {
    background-color: #d98fa3 !important;
    border-color: #d98fa3 !important;
    color: white !important;
}

.fc .fc-toolbar-title {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.fc .fc-daygrid-day-number {
    text-decoration: none;
    color: #4A3028;
    font-size: 20px;
    margin-right: 2px;
}

.fc a {
    text-decoration: none;
}

.fc .fc-daygrid-day:hover {
    background-color: #F5D9D3;
    cursor: pointer;
}

@media (max-width: 600px) {
    .calendar-container {
        width: 95%;
        margin: 20px auto;
        padding: 10px;
    }

    .fc .fc-toolbar-title {
        font-size: 18px;
    }

    .fc-button {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }

    .fc .fc-daygrid-day-number {
        font-size: 14px;
    }

    .fc .fc-daygrid-day {
        min-height: 45px;
    }

    .fc .fc-toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .fc .fc-toolbar-chunk {
        display: flex;
        align-items: center;
    }
}